:root {
    --bg: #FFEDBE;
    --card: #FDBA7C;
    --text: black  ;
    --muted: black;
    --accent: #FC9A3F;
    --border: pink;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Amatic SC";
    background: var(--bg);
    color: var(--text);
    line-height: 1.5;
}

header{
    width: min(900px, 90%);
    margin: 1.2rem auto;
    display: flex;
    justify-content: center;
    gap: 1rem;
    font-size: 5rem;

    h1 {
        margin: 0;
        align-self: center;
    }
}

.logo {
    width: 200px;
    height: 200px;
    object-fit: contain;
}


.logo:hover {
    content: url("../img/cationary2.png");
}

.info-card {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
    font-size: 2rem;
    text-align: center;

    p{
        margin-top: 5rem;
    }
}

.CatGif {
    width: 250px;
    height: auto;
    object-fit: contain;
}
.container {
    width: min(900px, 90%);
    margin: 1.2rem auto;
}

h1, h2, h3, h4 {
    margin-top: 0;
}

.card {
    background: var(--card);
    border: 1px solid var(--border);
    border-radius: 12px;
    padding: 1rem;
    margin-bottom: 1rem;
}


.search-card{
    border: 50px solid transparent;
    border-image-source: url("../img/search_bar.svg");
    border-image-slice: 170;
    border-image-repeat: stretch;
}

.search-form label {
    display: block;
    margin-bottom: 0.5rem;
    color: var(--muted);
}

.search-row {
    display: flex;
    gap: 0.5rem;  
}

#wordInput {
    font-size: 3rem;
    font-family: "Amatic SC";
}

#wordInput:focus {
    outline: none;
    box-shadow: none;
}

input[type="text"] {
    flex: 1;
    padding: 0.7rem 0.8rem;
    border: none;
    background-color: var(--bg);
    color: var(--text);
}

button {
    padding: 0.7rem 1rem;
    border: none;
    border-radius: 8px;
    background: var(--accent);
    color: white;
    cursor: pointer;
}

.search-button {
    background: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
}

.search-button:hover img {
    content: url("../img/paw_print2.png");
}

.search-button img {
    width: auto;
    height: 100px;
    display: block;
}

.word-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
}

.phonetic {
    color: var(--muted);
    margin: 0;
}

.part-block {
    margin-top: 1rem;
    padding-top: 0.8rem;
    border-top: 1px solid var(--border);
}

.part:first-child {
    margin-top: 0;
    padding-top: 0;
    border-top: none;
}

ol {
    margin: 0.5rem 0 0;
    padding-left: 1.2rem;
}

.example {
    color: var(--muted);
    margin-top: 0.25rem;
}

.hidden {
    display: none;
}

.sr-only {
    position: absolute;
    left: -9999px;
}

a {
    color: #93c5fd;
}


